<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-HkE0CIZ/e7KIQD6g2/yJZx6SrJw/Pwwp6IrnN+gUpb1xAi6Ew7WYjNXLeTnPZwOD"
          crossorigin="anonymous">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>
